header{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    color: rgb(0, 177, 0);
}

header > h1 {
    font-size: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-variant: small-caps;
    margin-bottom: 10px;
}

header > h3 {
    font-size: 2rem;
    margin-top: 10px;
}